Python script that uses sentiment analysis to rate reviews in an excel file
1. Port file into dataframe
2. create the script that shits out the sentiment values for each comment
3. Add the values to the dataframe and export the dataframe to excell/csv

<h2>Import necessary packages

In [16]:
import pandas as pd
import os as os
from pattern.nl import sentiment, attributive

<h2>Port the file into a dataframe

In [4]:
os.chdir('/Users/glencoppens/Jupyter notebooks/Sentiment Analysis evaluations mpleo')
file = 'shorteval.csv'
df1 = pd.read_csv(file, delimiter = ";", header=0)
df1

,Personeelnummer,Naam,Opleiding,Commentaar
0,2152326,Glen Coppens,mpleo,Beste training die ik al ooit gevolgd heb
1,6742689,Bert Vanherp,mpleo,Saai
2,6884800,Benjamin Houthuys,mpleo,NaN
3,4641109,Jos Daerden,mpleo,Goed. Niet genoeg broodjes
4,3543987,Ivan Leko,mpleo,De lesgever wist veel over de materie en kon d...

In [5]:
df1.Commentaar = df1.Commentaar.astype(str)
df1.Commentaar

0            Beste training die ik al ooit gevolgd heb
1                                                 Saai
2                                                  nan
3                           Goed. Niet genoeg broodjes
4    De lesgever wist veel over de materie en kon d...
Name: Commentaar, dtype: object

In [13]:
print(sentiment(str(df1.Commentaar)))
#Don't understand why this command doesn't throw an error.

(0.17500000000000004, 0.9583333333333334)

<h2>Add the sentiment analysis to the dataframe

In [18]:
newcol = []
for v in df1.Commentaar:
    v = sentiment(v)
    newcol.append(v)
df1 = df1.assign(Sentvalues = newcol)
print(newcol)
df1

[(0.675, 0.975), (-0.7, 1.0), (0.0, 0.0), (0.55, 0.9), (0.6, 0.9)]

,Personeelnummer,Naam,Opleiding,Commentaar,Sentvalues
0,2152326,Glen Coppens,mpleo,Beste training die ik al ooit gevolgd heb,"(0.675, 0.975)"
1,6742689,Bert Vanherp,mpleo,Saai,"(-0.7, 1.0)"
2,6884800,Benjamin Houthuys,mpleo,nan,"(0.0, 0.0)"
3,4641109,Jos Daerden,mpleo,Goed. Niet genoeg broodjes,"(0.55, 0.9)"
4,3543987,Ivan Leko,mpleo,De lesgever wist veel over de materie en kon d...,"(0.6, 0.9)"

<h2>Writing the results into the same csv

In [24]:
df1.to_csv('results sentiment analysis.csv', sep=';')