Python script that uses sentiment analysis to rate reviews in an excel file
1. Port file into dataframe
2. create the script that shits out the sentiment values for each comment
3. Add the values to the dataframe and export the dataframe to excell/csv

<h2>Import necessary packages

In [16]:
import pandas as pd
import os as os
from pattern.nl import sentiment, attributive

<h2>Port the file into a dataframe

In [39]:
os.chdir('/Users/glencoppens/Jupyter notebooks/Sentiment Analysis evaluations mpleo')
file = 'shorteval.csv'
df1 = pd.read_csv(file, delimiter = ";", header=0)
df1

,Personeelnummer,Naam,Opleiding,Commentaar
0,2152326,Raymond Goethals,mpleo,Beste training die ik al ooit gevolgd heb
1,6742689,Filip Clement,mpleo,Saai
2,6884800,Yves Verhaegen,mpleo,NaN
3,316200,Claude Makelele,mpleo,Niet goed.
4,4641109,Jos Daerden,mpleo,Goed. Niet genoeg broodjes
5,3543987,Ivan Leko,mpleo,De lesgever wist veel over de materie en kon d...
6,23672109,Georges Leekens,mpleo,8/10

In [40]:
df1.Commentaar = df1.Commentaar.astype(str)
df1.Commentaar

0            Beste training die ik al ooit gevolgd heb
1                                                 Saai
2                                                  nan
3                                           Niet goed.
4                           Goed. Niet genoeg broodjes
5    De lesgever wist veel over de materie en kon d...
6                                                 8/10
Name: Commentaar, dtype: object

In [41]:
print(sentiment(str(df1.Commentaar)))

(-0.09999999999999998, 0.9583333333333334)

<h2>Add the sentiment analysis to the dataframe

In [48]:
sentvalues = []
for v in df1.Commentaar:
    v = sentiment(v)
    sentvalues.append(v)
df2 = pd.DataFrame(sentvalues, columns = ['Polarity', 'Subjectivity'])

df = pd.concat([df1, df2], axis=1, join_axes=[df1.index])
df

,Personeelnummer,Naam,Opleiding,Commentaar,Polarity,Subjectivity
0,2152326,Raymond Goethals,mpleo,Beste training die ik al ooit gevolgd heb,0.675,0.975
1,6742689,Filip Clement,mpleo,Saai,-0.700,1.000
2,6884800,Yves Verhaegen,mpleo,nan,0.000,0.000
3,316200,Claude Makelele,mpleo,Niet goed.,-0.275,0.900
4,4641109,Jos Daerden,mpleo,Goed. Niet genoeg broodjes,0.550,0.900
5,3543987,Ivan Leko,mpleo,De lesgever wist veel over de materie en kon d...,0.600,0.900
6,23672109,Georges Leekens,mpleo,8/10,0.000,0.000

<h2>Writing the results into a csv

In [24]:
df1.to_csv('results sentiment analysis.csv', sep=';')